@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.selected-restaurant {
  display: flex;
  flex: 1;
  height: 160px;
}

.selected-restaurant img {
  height: 160px;
  display: flex;
}

section {
  display: flex;
  flex-direction: row;
}
