@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f5;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  height: 68px;
  padding-left: 177px;
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  border: 0.1px solid rgb(189, 189, 189);
}

img {
  border-radius: 6px;
}

// ----------------selected-restaurant----------------

.selected-restaurant {
  display: flex;
  padding: 30px 112px;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100vw;

  div {
    display: flex;
  }

  .text-bloc-selected-restau {
    display: flex;
    flex-direction: column;
    width: 744px;
    justify-content: space-around;
    padding-right: 40px;

    h1 {
      font-size: 32px;
      color: #2e3333;
    }
    p {
      font-size: 19px;
      color: #868a8a;
    }
  }
  img {
    display: flex;
    align-self: center;
    width: 350px;
  }
}

.below-selected-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77%;
  align-items: flex-start;
}

// ----------------Section----------------
section {
  div {
    flex-wrap: wrap;
  }
  .meal-list {
    .meals {
      h3 {
        margin-top: 16px;
        margin-bottom: 16px;
        color: #2e3333;
      }
    }
    .meal {
      display: flex;
      flex-direction: row;
      width: 838px;

      .meal-description {
        display: flex;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 166px;
        width: 398px;
        flex-direction: column;
        overflow: hidden;
        padding: 15px;

        .price {
          color: #808484;
          margin-right: 8px;
        }
        .price-pop {
          display: flex;
          font-size: 17px;
        }

        .meal-text {
          display: flex;
          flex-direction: column;
          width: 228px;
          height: 100%;
          justify-content: space-between;
          flex-wrap: unset;
          margin-right: 8px;

          .popular {
            color: #ffb62d;
            margin-left: 8px;
          }
          p {
            display: flex;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #808484;
          }
          h3 {
            font-size: 18px;
            color: #2e3333;
          }
        }
        .meal-image {
          display: flex;
          width: 100vw;
          img {
            display: flex;
            width: 130px;
            height: 130px;
            align-self: center;
            object-fit: cover;
          }
        }
      }
    }
  }
}

aside {
  display: flex;
  color: black;
  background-color: white;
  min-width: 350px;
  min-height: 145px;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  margin-top: 55px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(235, 235, 235);
  position: sticky;
  top: 20px;
  align-items: center;

  .cart {
    display: flex;
    flex-direction: column;
    .btn-validate {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00ccbc;
      border: none;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      height: 25px;
      margin-bottom: 30px;
    }

    .selected-meal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      width: 260px;
      button {
        color: #00ccbc;
        border: 1px solid #00ccbc;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        background-color: white;
        margin: 0 4px 0 4px;
      }
      .number-name {
        display: flex;
        font-size: 16px;
        width: 190px;

        .cart-meal-names {
          max-width: 160px;
        }
      }
      .meal-list {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      font-size: 19px;
      font-weight: 00;
      margin-top: 24px;
    }
  }
}
